*,*:before, *:after
    box-sizing: border-box
    margin: 0
html
    font-family: 'Raleway', sans-serif
    font-weight: 400
    font-size: 14px
    color: $turq
h1,h2,h3
    margin: 0
a
    text-decoration: none
    color: $turq
.block
    display: flex
    justify-content: space-between
    text-align: center


